#aboutme-section {
  font-size: 14px;
}

.about-text {
  position: relative;
  margin-left: 30px;
  padding:0px;
  margin-top: 0px;
  margin-bottom: 6px;
}

.about-icon {
  font-size: 20px;
  position: absolute;
  left: -35px;
  margin-top: 0px;
}

#aboutme-section p:last-child {
  margin-bottom: 0;
}

#bio-section {
  font-size: 14px;
  margin-top: 45px;
}

#bio-section h1 {
  font-size: 38px;
}
