<strong>[{{entry.pid}}]</strong>&nbsp;{{reference}}

<div class="expand-btn">
  {% if entry.doi %}
  <a href="
    {% if entry.doi contains "https://doi.org/" %}
       {{entry.doi}}
    {% else %}
       {{entry.doi | prepend: "https://doi.org/"}}
    {% endif %}
  ">DOI <span class="fa fa-external-link"></span></a>&nbsp;&mdash;
  {% endif %}

  {% if entry.url %}
  <a href="{{entry.url}}">{% if entry.url contains "arxiv" %}
       arXiv
    {% else %}
       URL
    {% endif %}
     <span class="fa fa-external-link"></span></a>&nbsp;&mdash;
  {% endif %}

  {% if entry.abstract %}
  <a data-toggle="collapse" href="#{{entry.pid}}-abstract">Abstract</a>&nbsp;&mdash;
  {% endif %}
  <a data-toggle="collapse" href="#{{entry.pid}}-bibtex">BibTeX</a>
</div>

<div id="{{entry.pid}}-group">
  {% if entry.abstract %}
  <div id="{{entry.pid}}-abstract" class="collapse">
    <p class="aux">{{entry.abstract}}</p>
  </div>
  {% endif %}

  <div id="{{entry.pid}}-bibtex" class="collapse">
    <pre class="aux">{{entry.bibtex}}</pre>
  </div>
</div>
